$primary-font: Montserrat, sans-serif;

$another-color: #18cfab;

%start-settings {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

%background-settings {
  background: url("../img/Layer1.png") center no-repeat;
  background-size: cover;

}

%flex-settings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

%border-top-buttons {
  border-top: 4px solid white;
  border-radius: 4px;
}

%section-titles {
  font-family: $primary-font;
  color: #4e4e4e;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}

%button {
  padding: 20px 0px 21px 0px;
  font-family: $primary-font;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: $another-color;
  margin-right: 28px;
  width: 14.31%;
  color: white;
}

%button-hover {
  border-top-color: $another-color;
  background-color: white;
  color: $another-color;
}

%hr-settings {
  padding: 0;
  width: 76px;
  border: none;
  color: $another-color;
  background-color: $another-color;
  height: 1px;
  margin: 0 0 3px;
}

%arrow {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 31px;
  height: 31px;
  border: 1px solid #777777;
  color: #777777;
  font-size: 40px;
  line-height: 1em;
}

* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body, p, ul, li, h1, h2, h3, h4, h5, h6, a {
  @extend %start-settings
}

body {
  min-width: 1200px;
}

.container {
  margin: 0 auto;
  max-width: 1160px;
  padding: 0 10px 0 10px;
}

.header {
  font-family: $primary-font;
  @extend %background-settings;

  &__menu {
    position: relative;
    background-color: rgba(73, 71, 63, 0.6);

    .header__items {
      @extend %flex-settings;
      padding-top: 28px;
      padding-bottom: 25px;

      .header__logo {
        @extend %flex-settings;
        position: relative;
        a:first-child {
          width: 58px;
          height: 67px;
          font-family: $primary-font;
          color: white;
          font-size: 40px;
          font-weight: 700;
          margin-right: 8px;
        }

        a:nth-child(2) {
          position: absolute;
          left: 12.73px;
          font-family: $primary-font;
          color: white;
          font-size: 40px;
          font-weight: 700;

        }

        a:last-child {
          font-family: $primary-font;
          font-size: 32px;
          font-weight: 400;
          line-height: 31px;
          color: white;

          span {
            color: $another-color;
          }
        }
      }

      .header__logo:hover {

        a:first-child {
          svg {
            path {
              fill: white;
            }
          }
        }

        a:nth-child(2) {
          color: $another-color;
        }

        a:last-child {
          color: $another-color;

          span {
            color: white;
          }
        }
      }

      ul {
        @extend %flex-settings;
        width: 60%;

        li {
          text-transform: uppercase;

          a {
            font-family: $primary-font;
            font-size: 13px;
            font-weight: 700;
            line-height: 42px;
            color: #b8b8b8;
          }

          a:hover {
            color: $another-color;
            border-bottom: 1px solid #18CFAB;
            padding-bottom: 50px;

          }
        }

        li:nth-child(10) {
          display: none;
          .image__search {
            input[type=text] {
              padding-left: 10px;
              height: 40px;
              width: 200px;
              background-color: rgba(73, 71, 63, 1);
              border: 1px solid #777777;
              color: white;
              border-radius: 10px;
              font-size: 15px;
            }

            input:focus {
              border-color: $another-color;
              outline: none;
            }

            input::placeholder {
              font-size: 15px;
            }
          }
        }

        li:last-child {
          width: 22px;
          height: 22px;
          cursor: pointer;

          svg {
            path {
              fill: #b8b8b8;
            }
          }
        }
        li:last-child:hover {
          svg {
            path {
              fill: $another-color;
            }
          }
        }
      }
    }
    .header__sorry {
      position: absolute;
      @extend %flex-settings;
      justify-content: center;
      flex-direction: column;
      font-family: $primary-font;
      color: $another-color;
      font-size: 20px;
      text-transform: uppercase;
      bottom: 0;
      right: 50%;
      transform: translateX(50%);
    }
  }

  &__about {
    text-align: center;
    margin-top: 246px;
    text-transform: uppercase;

    p:first-child {

      font-family: $primary-font;
      font-size: 35px;
      font-weight: 700;
      color: white;
      line-height: 27px;

      span {
        color: $another-color;
      }
    }

    h1 {
      margin-top: 45px;
      font-family: $primary-font;
      color: white;
      font-size: 79px;
      font-weight: 700;
      line-height: 60px;
      margin-bottom: 37px;
    }

    h6 {
      font-family: $primary-font;
      font-size: 34px;
      font-weight: 300;
      color: #d4d4d4;
      text-transform: none;
    }

    .header__links {
      @extend %flex-settings;
      justify-content: center;
      margin-top: 146px;
      padding-bottom: 244px;

      a {
        @extend %border-top-buttons;
        @extend %button;
      }

      a:last-child {
        margin-right: 0;
        background-color: #00cbf6;
      }

      a:hover {
        @extend %button-hover
      }

      a:last-child:hover {
        border-top-color: #00cbf6;
        color: #00cbf6;
        background-color: white;
      }
    }
  }
}

.capabilities {
  width: 100%;
  @extend %flex-settings;
  align-items: flex-start;
  text-align: center;

  div {
    width: 25%;
    padding-top: 95px;
    padding-bottom: 120px;
    background-color: #1c2a33;
    border-top: 6px solid $another-color;
    cursor: pointer;

    p {
      font-family: $primary-font;
      color: $another-color;
      padding-top: 48px;
      text-transform: uppercase;
    }
  }

  div:hover {
    background-color: $another-color !important;
    border-top-color: white !important;

    p {
      color: white !important;
    }
    svg {
      path {
        fill: white !important;
      }
    }
  }

  div:nth-child(2) {
    padding-top: 106px;
    background-color: $another-color;
    border-top-color: white;

    p {
      color: white;
      padding-top: 59px;
    }
  }

  div:nth-child(2):hover {
    border-top-color: $another-color !important;
    background-color: #1c2a33 !important;

    p {
      color: $another-color !important;
    }

    svg {
      path {
        fill: $another-color !important;
      }
    }
  }

  div:nth-child(3) {
    p {
      padding-top: 49px;
    }
  }

  div:last-child {
    border-top-color: white;
    padding-top: 105px;
    background-color: $another-color;
    p {
      color: white;
      padding-top: 59px;
    }
  }
  div:last-child:hover {
    border-top-color: $another-color !important;
    background-color: #1c2a33 !important;

    p {
      color: $another-color !important;
    }

    svg {
      path {
        fill: $another-color !important;
      }
    }
  }
}

.services {
  text-align: center;

  &__title {
    margin-top: 82px;
    @extend %flex-settings;
    flex-direction: column;
    justify-content: center;
    h3 {
      @extend %section-titles;
      display: inline-block;
      margin-bottom: 22px;
    }

    hr {
      @extend %hr-settings;
    }

    hr:last-child {

      margin: 0 0 0 17px;
    }
  }

  &__examples {
    padding-top: 70px;
    padding-bottom: 104px;

    ul {
      @extend %flex-settings;
      justify-content: center;

      li {
        width: 16.4%;
        padding: 26px 0 26px 0;
        background-color: #f5f9fb;
        border: 1px solid #f0f2f3;
        position: relative;
        font-family: $primary-font;
        color: #717171;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;

        img {
          display: none;
        }

        span {
          position: absolute;
          width: 0;
          height: 0;
          border: 17px solid transparent;
          border-top-color: $another-color;
          border-bottom: 0;
          left: 50%;
          top: 100%;
          bottom: 0;
          right: 0;
          transform: translateX(-50%);
          visibility: hidden;
        }

        p {
          display: none;
        }
      }

      li:first-child {
        background-color: $another-color;
        color: #ffffff;

        span {
          visibility: visible;
        }
      }

      li:first-child:before {
        visibility: visible;
      }

      li:hover {
        background-color: $another-color !important;
        color: white !important;
      }
    }

    .services__description {
      @extend %flex-settings;
      flex-direction: row;
      flex-wrap: nowrap;
      margin-top: 24px;

      img {
        width: 17%;
        background-size: cover;
        height: 141px;
      }

      p {
        width: 81%;
        font-family: $primary-font;
        font-size: 14px;
        color: #777777;
        font-weight: 300;
        line-height: 25px;
        text-align: justify;
      }
    }
  }
}

.buy {
  @extend %background-settings;
  background-image: url("../img/Layer2.png");
  padding: 126px 0 126px 0;
  text-align: center;
  font-family: $primary-font;

  h2 {
    color: $another-color;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 40px;
    line-height: 40px;
  }

  p {
    margin-top: 35px;
    color: #d8d8d8;
    font-size: 16px;
  }

  a {
    display: inline-block;
    @extend %border-top-buttons;
    @extend %button;
    margin-top: 80px;
  }

  a:hover {
    @extend %button-hover
  }
}

.news {
  padding: 100px 0 137px 0;
  text-align: center;
  font-family: $primary-font;

  .news__title {
    @extend %flex-settings;
    flex-direction: column;
    h3 {
      @extend %section-titles;
      display: inline-block;
      margin-bottom: 22px;
    }
    hr {
      @extend %hr-settings;
    }

    hr:last-child {
      margin: 0 0 0 17px;
    }
  }

  .news__storage {
    @extend %flex-settings;
    margin-top: 70px;

    .storage__item {
      width: 263px;
      margin-bottom: 26px;

      .storage__img {
        @extend %background-settings;
        background-image: url("../img/news1.png");
        height: 229px;

        div {
          width: 68px;
          height: 66px;
          background-color: #203e38;
          float: right;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          p {
            color: white;
          }
        }
      }

      .storage__description {
        padding: 14px 52px 12px 17px;
        background-color: #f5f9fb;
        border: 1px solid #f4f5f5;

        h5 {
          color: #717171;
          font-size: 18px;
          font-weight: 700;
          text-align: left;
        }

        div {
          margin-top: 14px;
          @extend %flex-settings;
          flex-direction: row;
          justify-content: flex-start;
          color: #777777;
          font-size: 14px;
          font-weight: 300;
          line-height: 1em;
          span {
            border-right: 1px solid #777777;
            padding-right: 5px;
            margin-right: 5px;
            a {
              color: #777777;
            }
          }
          a {
            color: #777777;
          }
        }
      }
    }
    .storage__item:nth-child(2) {
      .storage__img {
        background-image: url("../img/news2.png");
      }
    }
    .storage__item:nth-child(3) {
      .storage__img {
        background-image: url("../img/news3.png");
      }
    }
    .storage__item:nth-child(4) {
      .storage__img {
        background-image: url("../img/news4.png");
      }
    }
    .storage__item:nth-child(5) {
      .storage__img {
        background-image: url("../img/news5.png");
      }
    }
    .storage__item:nth-child(6) {
      .storage__img {
        background-image: url("../img/news6.png");
      }
    }
    .storage__item:nth-child(7) {
      .storage__img {
        background-image: url("../img/news7.png");
      }
    }
    .storage__item:nth-child(8) {
      .storage__img {
        background-image: url("../img/news8.png");
      }
    }

    .storage__item:hover {
      .storage__img {
        div {
          background-color: $another-color;
        }
      }
      .storage__description {
        h5 {
          color: $another-color;
        }
      }
    }
  }
}

.comments {
  @extend %background-settings;
  background-image: url("../img/Layer3.png");
  padding: 99px 0 104px 0;
  font-family: $primary-font;
  text-align: center;

  .comments__title {

    @extend %flex-settings;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20px;

    h3 {
      @extend %section-titles;
      display: inline-block;
      color: white;

    }

    hr {
      margin-top: 22px;
      @extend %hr-settings;
    }

    hr:last-child {
      margin: 0 0 0 17px;
    }
  }

  .comments__item {
    @extend %flex-settings;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;

    span {
      color: $another-color;
      font-size: 120px;
      font-weight: 900;
      letter-spacing: -10px;
      line-height: 85px;
      padding-bottom: 43px;
    }

    .comments__slider {

      overflow-x: hidden;
      max-width: 1160px;
      height: auto;

      ul {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        width: 4640px;
        height: auto;
        position: relative;
        li {
          position: relative;
          width: 1160px;
          p {

            color: #bbbbbb;
            font-weight: 300;
            font-size: 16px;
            line-height: 30px;
          }

          p:nth-child(2) {
            color: $another-color;
            text-transform: uppercase;
            line-height: 27px;
            padding-top: 35px;
          }

          p:nth-child(3) {
            font-size: 10px;
            line-height: 18px;
            display: inline-block;
            margin-bottom: 27px;
          }

          .slider__photo {

            display: flex;
            align-items: center;
            justify-content: center;
            width: 164px;
            height: 163px;
            background: rgba(31, 218, 181, 0.2) url("../img/Ellipse.png") center no-repeat;
            border-radius: 50%;
            margin: 0 auto;

            img {
              width: 139px;
              height: 137px;
            }
          }
        }
      }
    }

    .comments__users {
      width: 45%;
      @extend %flex-settings;
      align-items: center;
      margin-top: 69px;

      .comments__arrow {
        @extend %arrow;
        cursor: pointer;
      }

      .comments__arrow:hover {
        background-color: $another-color;
        color: white;
        border-color: $another-color;
      }

      .users__links {
        @extend %flex-settings;
        width: 70%;

        li {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          background-color: rgba(31, 218, 181, 0.2);
          width: 70px;
          height: 70px;
          cursor: pointer;
        }

        .active {
          margin-top: -20px;
          img {
            border: 2px solid $another-color;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

.photo {
  background-color: #ffffff;
  padding: 100px 0 0 0;
  font-family: $primary-font;
  text-align: center;

  .photo__title {
    @extend %flex-settings;
    flex-direction: column;
    justify-content: center;
    h3 {
      @extend %section-titles;
      text-transform: capitalize;
      display: inline-block;
      margin-bottom: 22px;
    }
    hr {
      @extend %hr-settings;

    }

    hr:last-child {
      margin: 0 0 0 17px;
    }
  }

  .photo__greed {
    margin-top: 70px;
    background: #EEE;

    .greed__sizer {
      width: 33.333%;
    }

    .greed__item {
      width: 33.333%;
      float: left;

      img {
        display: block;
        max-width: 100%;
      }
    }

  }

  .photo__greed:after {
    content: '';
    display: block;
    clear: both;
  }
}

.footer {
  background-color: #22353f;
  padding: 46px 0 46px 0;
  font-family: $primary-font;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;

  p {
    color: #aeaeae;

    a {
      color: $another-color;
    }
  }
}


